.$diagramas_ia.drawio.bkp
formulas.docx
/modulo_1_fundamentos_de_redes_neuronales_profundas/implementacion_MLP_clasificacion_MNIST/assets/*
/modulo_1_fundamentos_de_redes_neuronales_profundas/implementacion_MLP_clasificacion_MNIST/perceptron_multicapa/.idea/*
/modulo_1_fundamentos_de_redes_neuronales_profundas/implementacion_MLP_clasificacion_MNIST/perceptron_multicapa/data/
/modulo_1_fundamentos_de_redes_neuronales_profundas/implementacion_MLP_clasificacion_MNIST/perceptron_multicapa/.venv/
/diagramas_ia.drawio
/modulo_2_redes_convolucionales_y_generativas/.idea/
/modulo_2_redes_convolucionales_y_generativas/.venv/
/modulo_2_redes_convolucionales_y_generativas/resnet_18/assets/
/modulo_2_redes_convolucionales_y_generativas/resnet_18/data/
/.$diagramas_ia.drawio.dtmp
